.connections-header {
  font-size: 24px;
  position: sticky;
}

.connections-list li {
  font-size: 16px;
  position: relative;
}

.h1 {
  font-size: 13;
  color: black;
}
.p {
  font-size: 7;
  color: darkolivegreen;
}
.resume {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  word-wrap: break-word;
  height: 200%;
  width: 120%;
}

.resume-div {
  word-wrap: break-word;
}

@media screen and (max-width: 1080px) {
  .available {
    padding-top: 15%;
  }
}
